{% extends 'base1.html' %}
{% load static %}


{% block content %}

<header class="section background-white">
  <div class="line text-center">        
    <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">All Photos </h1>
    <p class="margin-bottom-0 text-size-16 text-dark">Precious moments , Precious clicks </p>
  </div>  
</header> 

<div class="containerbody">
  {% for i in pics %}
  <a class="image-hover-zoom" href="{% url 'image' i.id %}">
      <div>
          <img src="{{i.image}}" class="imagesize">
      </div>
  </a>
  {% endfor %}
</div> 

{% endblock %}